= render "header"
.main-wrapper
  .main-wrapper__post-detail
    .main-wrapper__post-detail__image
      = image_tag(@post.image.url, class: "photo")
    .main-wrapper__post-detail__text-box
      = simple_format(@post.text, class: "main-wrapper__post-detail__text-box__text")
      .main-wrapper__post-detail__text-box__time
        = @post.created_at
      = link_to "削除する", "/posts/#{@post.id}", method: :delete, class: "main-wrapper__post-detail__destroy"